.Container_ShowVideoGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0rem;
}
@media screen and (max-width:768px) {
    .Container_ShowVideoGrid{
        justify-content: space-evenly;
        width: 99%;
    }
}