.Container_SearchList{
    background-color: #212121;
    width: 90.75%;
    position: absolute;
    top: 2.7rem;
    height: fit-content;
    z-index: 91;
}
.titleItem{
    margin: 0;
    padding: 0.5rem;
    cursor: pointer;
    color: whitesmoke;
}
.titleItem:hover{
    background-color: #383838;
}