.SearchBar_Container {
    margin: auto;
    flex-grow: 2;
    display: flex;
    height: 2rem;
  }
  .SearchBar_Container2 {
    margin: auto;
    margin-top: 0.1rem;
  }
  .search_div {
    display: flex;
    margin: auto;
    position: relative;
    z-index: 50;
  }
  .iBox_SearchBar {
    background-color: rgb(18, 18, 18);
    width: 20rem;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
    font-size: large;
    padding: 0.2rem;
    height: 2rem;
    padding-left: 1rem;
  }
  .iBox_SearchBar:focus-visible{
    border-color: #1C62B9;
    outline: none;
  }
  .searchIcon_SearchBar{
    cursor: pointer;
    padding: 0.50rem;
    width: 2rem;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-left: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #222222;
    color: aliceblue;
  }
  .searchIcon_SearchBar:hover{
      background-color: rgb(71, 71, 71);
  }
  .Mic_SearchBar{
      border-radius: 100%;
      padding: 0.5rem;
      background-color: #222222;
    }
    .Mic_SearchBar:hover{
        background-color: rgb(71, 71, 71);
    }
  
  .vid_bell_Navbar,
  .Mic_SearchBar{
      color: whitesmoke;
      margin: auto 0.7rem;
  }

  @media screen and (min-width:1440px) {
    .SearchBar_Container2{
      margin-left: 10rem;
    }
    .iBox_SearchBar{
      width: 32rem;
    }
  }

  @media screen and (max-width: 768px){ 
    .sbc_hidden{
      display: none;
    }
    .SearchBar_Container{
      position: fixed;
      top: 0;
      z-index: 50;
      display: flex;
      width: 100%;
      justify-content: center;
    } 
    .SearchBar_Container2{
      background-color: #0F0F0F;
      width: 100%;
      margin-top: 0.1rem;
      padding-block: 0.4rem;
      display: flex;
      justify-content: center;
    }
    .search_div{
      width: 100%;
      padding-inline: 0.5rem;
    }
    .iBox_SearchBar{
      width: 100%;
    }
    .Mic_SearchBar{
      display: none;
    }
    .searchBar_close{
      max-height: 1.5rem;
      border-radius: 100%;
      padding: 0.5rem;
      margin-right: 0.4rem;
      color: white;
      background-color: #222222;
      border: 1px solid rgba(128, 128, 128, 0.4);
    }
    .searchBar_close:hover{
      background-color: rgb(71, 71, 71);
    }
    .searchIcon_SearchBar{
      padding-bottom: 0.5rem;
    }
    .Container_SearchList{
      width: 96% !important;
    }
  }