.container_searchlist{
    background-color: rgba(128, 128, 128, 0.24);
    width: 32rem;
    position: absolute;
    top: 3.3rem;
    height: fit-content;
    z-index: 91;
    margin-left: 0.1rem;
    border-radius: 8px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.list_item{
    color: #f1f1f1;
    font-weight: 600;
    margin: auto;
    padding: 0.5rem;
    cursor: pointer;
}
.list_item:hover{
    background-color: #71717150;
}