.Auth_container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 500;
    top: 0;
    right: 0;
    box-sizing: border-box;
    display: flex;
  }
  .Auth_container2 {
      padding: 0.5rem;
    display: flex;
    position: absolute;
    right: 1rem;
    background-color:  #1e1e1e;
    top: 3.9rem;
    text-align: center;
    flex-direction: column;
    color: rgba(220, 220, 220, 0.9);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 500;
    border-radius: 10px;
  }
  .User_Details {
    margin: 0 auto;
    padding: 0.7rem;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-inline-start: 1.2rem 0.9rem;
  }
  .email_Auth {
    font-size: larger;
    padding: 0.2rem 0.5rem;
    font-weight: bolder;
    margin: auto;
  }
  .btn_Auth {
    color: rgba(220, 220, 220, 0.9);
    font-weight: 500;
    font-size: large;
    padding: 0.3rem 0.5rem;
    border: 0;
    margin: 0.2rem 0;
    background-color: transparent;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
  }
  .btn_Auth:hover {
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
  }
  .btns_Auth {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;/* 
    text-align: start; */
  }
  