.navigation_Home{
    color: white;
    background-color: #0F0F0F;
    position: sticky;
    display: flex;
    overflow-x: auto;
    top: -0.1rem;
    margin-top: -1.1rem;/* 
    z-index: 50; */
    /* border-bottom: 2px solid rgb(128,128,128,0.27); */
}
.btn_nav_home{
    background-color: #3F3F3F;
    margin: 0.5rem;
    padding: 0.5rem;
    padding-block: 0.3rem;
    border-radius: 7px;
    cursor: pointer;
}
.btn_nav_home:hover{
    background-color: rgb(128,128,128);
}

@media screen and (max-width:500px) {
    .navigation_Home{
    z-index: 50;
    }
}