.btns_cont_videoPage{
    display: flex;
    flex-grow: 5;
    flex-direction: row-reverse;
}
.btn_videoPage{
    margin:  auto 0;
    margin-left: 0.5rem;
    display: flex;
    background: rgba(128, 128, 128, 0.300);
    padding: 0.5rem;
    border-radius: 50px;
    cursor: pointer;
}
.btn_videoPage:hover,.like_btn:hover,.dislike_btn:hover{
    background: rgba(128, 128, 128, 0.600);
}
.like_container{
    display: flex;
    cursor: pointer;
}
.like_btn{
    margin:  auto 0;
    margin-left: 0.5rem;
    display: flex;
    background: rgba(128, 128, 128, 0.300);
    padding: 0.5rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.dislike_btn{
    margin:  auto 0;
    margin-left: 0rem;
    display: flex;
    background: rgba(128, 128, 128, 0.300);
    padding: 0.5rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.like_count{
    font-weight: 500;
}
.lvr{
    margin-block: 0.9rem;
    margin-left: -0.09rem;
}
.like_videoPage{
    margin: 0.5rem;
    display: flex;
    cursor: pointer;
}
.btns_videoPage{
    margin: auto 0.5rem;
}
.tooltip_videoPage{
    font-weight: 700;
    margin-inline: 0.3rem;
    font-size: small;
}