.container_videoPage {
  height: calc(100vh - 3.5rem);
  overflow-y: auto;
  background-color: #0F0F0F;
  color: #f1f1f1de;
}
.container2_videoPage {
  margin: 1rem 4.5rem;
  display: flex;
}
.video_display_screen_videoPage {
  width: calc(100vw - 4.5rem - 12vw);
  padding: 0.7rem;
}

.video_ShowVideo_videoPage {
  padding: 0.1rem;
  /* height: 70vh;
  width: 79rem;
  max-height: 40rem;*/
  object-fit: cover;
  width: 100%;
  height: 38.2vw;
  border-radius: 15px;
  background-color: black;
  border: 1px solid rgba(37, 37, 37, 0.2);
}

.video_btns_title_VideoPage_cont {
/*   border-bottom: 3px solid rgba(245, 222, 179, 0.175); */
  flex-grow: 1;
}
.video_title_VideoPage {
  font-size: x-large;
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.5rem;
  /* padding: 1rem 0.8rem; */
}
.views_date_btns_VideoPage {
  display: flex;
  /* margin: 0.5rem 1rem; */
  font-weight: bold;
  color: #f1f1f1de;
  width: calc(100vw - 6.5rem - 35vw);
}
.views_videoPage {
  display: flex;
  font-size: 0.8rem;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 0.2rem;
}
.chanel_details_cont_videoPage {
  display: flex;
  /* border-bottom: 3px solid rgba(245, 222, 179, 0.175); */
}
.chanel_details_videoPage {
  display: flex;
  text-decoration: none;
  color: #f1f1f1de ;
  font-weight: bolder;
}
.chanel_logo_videoPage {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.19);
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 100%;
  border: 2px solid rgba(0, 255, 200, 0.3);

  background-color: #2a2a2a; 
  background-image:
  radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, transparent 1px),
  linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent), /* Brighter white diagonal stripes */
  linear-gradient(135deg, rgba(0, 255, 200, 0.5) 10%, transparent 10%, transparent 40%, rgba(0, 255, 200, 0.5) 40%);
  background-size: 
  100px 100px, 
  100px 100px, 
  50px 50px; 
  background-blend-mode: overlay;
}

.chanel_logo_videoPage p {
  color: rgba(0, 255, 200, 0.4);
  margin: auto;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}
.chanel_name_videoPage {
  margin: auto 1rem;
  margin-left: 0;
  font-size: larger;
  font-weight: 500;
}
.description_videoPage {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 10px;
  margin-block: 0.5rem;
  padding: 0.8rem;
}
.comments_VideoPage {
  width: 100%;
  padding-inline-start: 0.5rem;
}
.comments_VideoPage>h2>u{
  text-decoration: none;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}
.moreVideoBar {
  width: calc(100vw - 4.5rem - 70vw);
  padding: 0 1rem;
  margin-top: 1.5rem;
}
.details_comment_more{
  display: flex;
  background-color: yellow;
}

@media (max-width: 768px) {
  .container2_videoPage{
    margin-inline: 1rem;
    margin: 0;
  }
  .video_display_screen_videoPage{
    width: 65%;
    padding: 0.5rem;
  }
  .video_ShowVideo_videoPage{
    padding: 0;
    border: 0;
    border-radius: 0;
    width: 100%;
    border-radius: 10px;
    /* height: 35vw; */
  }
  .chanel_details_cont_videoPage{
    flex-direction: column;
  }
  .chanel_details_videoPage{
    flex-direction: row;
  }
  .chanel_logo_videoPage{
    margin-left: -0.1rem;
  }
  .chanel_name_videoPage{
    margin-top: auto;
    font-size: 1.1rem;
    font-weight: 400;
  }
  .btns_cont_videoPage{
    overflow-x: auto;
    padding-block: 0.5rem;
  }
  .like_btn{
    margin-left: 0 !important;
  }

  .moreVideoBar {
    margin-top: 1rem;
    width: 35%;
    padding-left: 0;
  } 

  .moreVideoBar_mobile{display: block;}
}
.moreVideoBar_mobile{display: none;}
@media screen and (min-width:480px) {
  .btns_cont_videoPage{justify-content: right;}
  .comment_close{display: none;}
}
@media screen and (max-width: 480px) {
  .container_videoPage{
    position: fixed;
    width: 100%;
    top: calc(3.6rem + 56.25vw);
    height: calc(100vh - 56.25vw - 5rem);
  }
  .container2_videoPage{
    margin-inline: 0;
    margin: 0;
    flex-direction: column;
  }
  .video_display_screen_videoPage{
    width: 100%;
    padding: 0;
  }
  .video_ShowVideo_videoPage{
    padding: 0;
    border: 0;
    border-radius: 0;
    height: 56.25vw;
    width: 100vw;
    position: fixed;
    z-index: 50;
    top: calc(3.6rem - 2px);
  }
  .video_details_videoPage{
    /* margin-top: 56.25vw; */
    padding: 0.5rem;
  }
  .video_title_VideoPage {
    font-size: 1.2rem;
  }

  .chanel_details_cont_videoPage{
    flex-direction: column;
  }
  .chanel_details_videoPage{
    flex-direction: row;
  }
  .chanel_logo_videoPage{
    margin-left: -0.1rem;
  }
  .btns_cont_videoPage{
    overflow-x: auto;
    padding-block: 0.5rem;
  }
  .btn_videoPage:nth-child(5){
    display: none;
  }
  
  .views_videoPage {
    font-size: 0.8rem;
    font-weight: 400;
    opacity: 70%;
  }
  .description_videoPage {
    padding: 0.5rem;
  }
  .comments_visible_VideoPage{
    padding-inline-start: 0 !important;
    background: inherit !important;
    overflow-y: visible !important;
    max-height: max-content !important;
    position: relative;
    max-width: 99% !important;
  }
  .comment_close{
    position: absolute;
    right: 1rem;
    padding: 1rem;
    margin-top: 0.3rem;
  }
  .comments_VideoPage{
    padding-inline-start: 0;
    background: #252525;
    border-radius: 10px;
    max-height:   10rem;
    overflow: hidden;
    padding-inline: 0.5rem;
    max-width: 96%;
  }
  .moreVideoBar{display: none;}
  .moreVideoBar_mobile{display: block;}
}