.container_videoPage {
  height: calc(100vh - 3.5rem);
  overflow-y: auto;
  background-color: #0F0F0F;
  color: #f1f1f1de;
}
.container2_videoPage {
  margin: 1rem 4.5rem;
  display: flex;
}
.video_display_screen_videoPage {
  width: calc(100vw - 4.5rem - 12vw);
  padding: 0.7rem;
}

.video_ShowVideo_videoPage {
  padding: 0.1rem;
  /* height: 70vh;
    width: 79rem;*/
  width: 100%;
  height: 9;
  border-radius: 15px;
  background-color: black;
  border: 1px solid rgba(37, 37, 37, 0.2);
}

.video_btns_title_VideoPage_cont {
/*   border-bottom: 3px solid rgba(245, 222, 179, 0.175); */
  flex-grow: 1;
}
.video_title_VideoPage {
  font-size: x-large;
  font-weight: bold;
  margin: 0;
  /* padding: 1rem 0.8rem; */
}
.views_date_btns_VideoPage {
  display: flex;
  /* margin: 0.5rem 1rem; */
  font-weight: bold;
  color: #f1f1f1de;
  width: calc(100vw - 6.5rem - 35vw);
}
.views_videoPage {
  display: flex;
  font-size: 0.8rem;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 0.5rem;
}
.chanel_details_cont_videoPage {
  display: flex;
  /* border-bottom: 3px solid rgba(245, 222, 179, 0.175); */
}
.chanel_details_videoPage {
  display: flex;
  text-decoration: none;
  color: #f1f1f1de ;
  font-weight: bolder;
}
.chanel_logo_videoPage {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.19);
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 100%;
  border: 2px solid rgba(0, 255, 200, 0.3);

  background-color: #2a2a2a; /* Lighter base color */
  background-image: 
  radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, transparent 1px), /* Brighter white dots */
  linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent), /* Brighter white diagonal stripes */
  linear-gradient(135deg, rgba(0, 255, 200, 0.5) 10%, transparent 10%, transparent 40%, rgba(0, 255, 200, 0.5) 40%); /* More vibrant green diagonal stripes */
  background-size: 
  100px 100px, 
  100px 100px, 
  50px 50px; 
  background-blend-mode: overlay;
}

.chanel_logo_videoPage p {
  color: rgba(0, 255, 200, 0.4);
  margin: auto;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}
.chanel_name_videoPage {
  margin: auto 1rem;
  margin-left: 0;
  font-size: larger;
}
.description_videoPage {
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  margin-block: 0.5rem;
  padding: 0.8rem;
}
.comments_VideoPage {
  width: 100%;
  padding-inline-start: 0.5rem;
}
.comments_VideoPage>h2>u{
  text-decoration: none;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}
.moreVideoBar {
  width: calc(100vw - 4.5rem - 70vw);
  padding: 0 1rem;
  margin-top: 1.5rem;
}
