@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
.video_player {
  position: relative;
  border-radius: 15px;
  
  height: 100%;
  overflow: hidden;
}
.video {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16/9;
  height: 100%;
}
.loading_spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes spin{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
.spinner{
  animation: spin 650ms linear infinite;
  color: red;
}
.feedback{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.feedback.show{
  opacity: 1;
  transform: translate(-50%, -70%) scale(1.8);
}

.controls {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(20,0,6,0) 100%, rgba(0,0,0,0) 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  padding-block: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;

  opacity: 0;
  transform: translateY(2rem);
  transition: opacity 300ms ease, transform 300ms ease;
  pointer-events: none;
}
.controls.show{
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
.seek_controls {
  /* background: black; */
  padding-block: 0.5rem;
  display: flex;
  justify-content: center;
}
.video_seeker {
  height: 4px;
  width: 98%;
  border-radius: 100px;
  accent-color: red;
}
.button_controls {
  /* background: rgb(29, 29, 29); */
  padding-block: 0rem;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.button_controls > .left_controls {
  margin-left: 1rem;
  flex-direction: row;
  display: flex;
}
.button_controls > .right_controls {
  margin-right: 1rem;
  flex-direction: row;
  display: flex;
}
button {
  background: transparent;
  color: inherit;
  border: none; /* 
	padding: 0; */
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-tap-highlight-color: transparent;
  transition: all;
  transition-duration: 500ms;
  opacity: 95%;
}
button:active {
  color: red;
  transform: scale(0.7);
}
.mute_btn{
  opacity: 60%;
}
.volume_controls {
  display: flex;
  justify-items: center;
}
.volume_bar {
  width: 4rem;
  height: 4px;
  margin-block: 11px;
  accent-color: rgba(212, 212, 212, 0);
}
.elapsed_time {
  margin-left: 5px;
  font-weight: 400;
  /* letter-spacing: -1px;
  font-family: "Onest", sans-serif; */
  font-family: "Saira Extra Condensed", sans-serif;
}
.options_btn{
  margin-right: 0.5rem;
  transform: rotate(60deg);
  transition: all 300ms ease;
}
.options_btn.show{
  opacity: 1;
  transform: rotate(0);
}
.options_btn:active{
  transform: scale(1);
  color: white;
}

.options_menu {
  position: absolute;
  bottom: 4.5rem;
  right: 0.8rem;
  background: rgba(0, 0, 0, 0.88);
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateX(10rem);
  transition: opacity 300ms ease, transform 400ms ease;
  pointer-events: none;
}
.options_menu.show{
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.option_item {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.option_label {
  color: gainsboro;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.playback_rates {
  display: flex;
  gap: 0.5rem;
}
.rate_btn {
  /* background: rgba(255, 255, 255, 0.1); */
  background: rgba(255, 0, 0, 0.2);
  /* outline: 1px solid rgba(255, 0, 0, 0.5) !important; */
  outline-style: dashed !important;
  color: gainsboro;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.item_btn:hover,.rate_btn:active {
  background: rgba(255, 0, 0, 0.8);
  /*background: rgba(255, 255, 255, 0.2);
   color: red; */
}

.rate_btn.active {
  background: rgba(255, 0, 0, 0.8);
  color: gainsboro !important;
  outline: none !important;
}
.item_btn{
  color: gainsboro !important;
  display: flex;
  flex-direction: row;
  justify-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  border-radius: 5px;
  gap: 1rem;
}


@media screen and (min-width: 480px) {
  .video {
    height: 38.2vw;
    border-radius: 15px;

    height: 100%;
  }
  .controls {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .button_controls {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .options_btn{
    margin-right: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .video_player {
    padding: 0;
    border: 0;
    border-radius: 0;
    height: 56.25vw;
    width: 100vw;
    position: fixed;
    z-index: 50;
  }
  .video {
    border-radius: 0; /* 
      object-fit: cover;
    height: 100%; */
  }
  /* .elapsed_time{
    margin-block: 2px;
  } */
  .controls {
    position: absolute;
    bottom: 0;
    z-index: 60;
  }
  .left_controls{
    margin-left: 0.5rem !important;
  }
  .options_menu {
    bottom: 4.4rem;
    right: 0.5rem;
    padding: 0.2rem;
    padding-inline: 0.25rem;
    border-radius: 5px;
  }

  .option_label {
    gap: 0.6rem;
    padding: 0.3rem;
    padding-block: 0.1rem;
    font-size: 0.8rem;
    align-items: center !important;
  }
  
  .item_btn {
    padding: 0.2rem;
    padding-block: 0.1rem;
    margin-block: 0;
    gap: 0.6rem;
    font-size: 0.8rem;
    align-items: center !important;
  }
  .playback_rates{
    gap: 0.3rem;
  }
  .rate_btn {
    padding: 3px 6px;
    font-size: 0.8rem;
  }
  .feedback{
    font-size: 1.5rem;
  }
}
