.container{
    display: flex;
    height: calc(3.5rem - 2px);
    background: #0f0f0f;
}
.burger_logo{
    display: flex;
    height: 3rem;
    margin-left: 0.8rem;
    margin-top: 0.2rem;
}
.burger:hover{
    background-color: rgba(128,128,128,0.4);
    border-radius: 100%;
}
.burger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-evenly;
    margin: 0.3rem;
    padding: 0.5rem;
    border: 1px solid transparent;
    margin-left: 0.5rem;
    margin-right: 0.4rem;
}
.burger p{
    margin: 0.5px;
    width: 1.2rem;
    height: 0.01rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    background-color: #f1f1f1;
    border-radius: 100%;
}
.logo_div{
    display: flex;
    padding: 0.65rem;
    text-decoration: none;
}
.logo_title{
    color: #f1f1f1;
    margin: auto;
    font-weight: bold;
    height: 1.6rem;
    margin-left: 0.2rem;
}
.video_upload_icon,.notification_icon{
    cursor: pointer;
    color: #f1f1f1;
    margin: auto 0.7rem;
    padding: 0.4rem;
}
.video_upload_icon:hover,.notification_icon:hover{
    
    background-color: rgba(128,128,128,0.4);
    border-radius: 100%;
}
.auth_cont_nav{
    width: fit-content;
    margin: auto 0.5rem;
    position: relative;
    display: flex;
}
.auth_btn{
    cursor: pointer;
    color: #3ea6ff;/* 
    background-color: rgb(36,36,36); */
    border: 1px solid rgba(128,128,128,0.4);
    display: flex;
    gap: 0.23rem;
    margin: 0;
    padding: 0.5rem;
    border-radius: 5rem;
}
.auth_btn b{
    
    font-weight: 500;
    letter-spacing: -0.02em;
}
.auth_btn:hover{
    background-color: #2398ff47;
}
